@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
/* common classes */
body{font-size:14px !important; color:rgba(30, 46, 75, 0.9); font-family: 'Hind Vadodara', sans-serif;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;background: url(""),linear-gradient(145deg,#f1fdff 5.84%,#fff1f9 34.88%,#f1fdff 63.91%,#fff1f9 93.83%);}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{color:#393939;}
.text-rental{color:#C2285C !important;}
.text-shop{color:#1E458A !important;}
.title-heading{color:#393939 !important;}
.h5, .h6, h5, h6 {font-size: .7375rem; font-weight:900;}
.btn{padding:10px 24px !important; font-weight:800 !important; border-radius:30px !important; box-shadow:0 1px 2px 0 rgba(0,0,0,.05) !important;}
.btn-primary{background:#C2285C !important; border-color:#C2285C !important;}
.btn-primary:hover{background:#a91e4d !important;border-color:#a91e4d !important;}
.btn-secondary{background:#1E458A !important; border-color:#1E458A !important;}
.btn-secondary:hover{background:#163978 !important;border-color:#163978 !important;}
.btn-light{background:#fff; border-color:#fff;}
.btn-rental{background:#C2285C !important; border-color:#C2285C !important;color:#ffffff !important;}
.btn-outline-primary{border-color:#C2285C !important; color:#C2285C !important;}
.btn-outline-primary:hover{background:#C2285C !important; color:#fff !important; border-color:#C2285C !important;}
.btn-outline-secondary{border-color:#D7D7D7 !important; color:#393939 !important;}
.btn-outline-secondary:hover{background:#D7D7D7 !important; color:#213343 !important; border-color:#D7D7D7 !important;}
.bg-primary{background:#ff5c35 !important;}
.bg-dark{background:#213343 !important;}
.bg-rental{background:#C2285C !important;color:#ffffff !important;}
.container{max-width:1340px !important;}
.rating{display:flex; align-items:center; color:#777; font-size:12px;}
.rating .checked{color:#f37d04;}
.rating .review{margin-left:10px;}
.mobile-cart-icon{display: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{opacity: 1;height: 30px;}
button:focus{box-shadow:inherit !important;}
a:focus{box-shadow:inherit !important;}

.header{width:100%; background:#fff; padding-top:6px;}
.header .header_top{display:flex; gap:20px; align-items:center;}
.header .header_top .logo img{width:180px;}
.header .header_top .view_tabs{display:flex;position:relative; margin-bottom:0px; z-index:1;}
.header .header_top .view_tabs a{padding:12px 30px; border:1px solid #D7D7D7; border-radius:15px 15px 0px 0px; font-size:16px; font-weight:bold;text-align:center;  color:#393939; text-decoration:none; border-bottom:0px;}
.header .header_top .view_tabs a span{clear:both; display:block; margin-top:-7px;font-size: 14px;}
.header .header_top .view_tabs .rental{color:#c51f54;}
.header .header_top .view_tabs .rental:before{content:""; background-image:url(../public/images/rental_icon.png); background-repeat:no-repeat; background-size:cover; display:inline-block; width:20px; height:20px;}
.header .header_top .view_tabs .rental.active{background:#C2285C !important; color:#fff !important;}
.header .header_top .view_tabs .rental.active:before{filter:brightness(100);}
.header .header_top .view_tabs .shop{color:#1E458A;}
.header .header_top .view_tabs .shop:before{content:""; background-image:url(../public/images/shop_icon.png); background-repeat:no-repeat; background-size:cover; display:inline-block; width:20px; height:20px;}
.header .header_top .view_tabs .shop.active{background:#1E458A; color:#fff;}
.header .header_top .view_tabs .shop.active:before{filter:brightness(100);}

.header .header_top .search_bar{width:39%; position:relative;}
.header .header_top .search_dropdown{position: absolute;top: 110%;width: 100%;background: #fff;border: 1px solid #ddd;border-radius: 10px;z-index: 9999;max-height: 250px;overflow-y: auto;padding: 10px;box-shadow: 0 10px 25px rgba(0,0,0,0.1);}
.header .header_top .search_dropdown .search_item{border: 1px solid #D7D7D7;padding: 10px;margin-bottom: 10px;display: flex;align-items: center;gap: 20px;cursor: pointer;}
.header .header_top .search_dropdown .search_item:hover{border-color: #494444;}
.header .header_top .search_dropdown .search_item img{width: 50px;}
.header .header_top .search_dropdown .search_item span{font-size: 12px; font-weight: 600;}
.header .header_top .search_bar .form-control{padding:10px 24px; border-color:#D7D7D7; border-radius:66px;box-shadow:0 1px 2px 0 rgba(0,0,0,.05);}
.header .header_top .search_bar .btn{position:absolute; top:0px; right:0px; padding:10px 20px;color:#393939; box-shadow:inherit;}
.header .header_top .cta_btn{margin-left:auto; display:flex; gap:10px; align-items:center;}

.navbar{padding:8px 0px; background:#C2285C; transition: all 0.4s ease; margin-top:0px; box-shadow:0 3px 8px 0 rgba(0,0,0,.1);}
.navbar .navbar-nav .nav-link{font-weight:600; color:#fff; font-size:14px; transition:all 0.5s ease;-webkit-transition:all 0.5s ease;position:relative;}
.navbar .navbar-nav .nav-link:hover{color:#f4f4f4;transition:all 1s ease; -webkit-transition:all 1s ease;}
.navbar-nav .nav-link.active{color:#ffffff;}
.navbar .navbar-nav .nav-link:before, .navbar .navbar-nav .nav-link:after {content:'';position:absolute;width:0%;height:2px;bottom:-10px;background:rgb(255, 255, 255);}
.navbar .navbar-nav .nav-link:before {left:0;transition:0.5s;}
.navbar .navbar-nav .nav-link:after {background:rgb(255, 255, 255);right:0;}
.navbar .navbar-nav .nav-link:hover:before {background:rgb(255, 255, 255); width:100%; transition:width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));}
.navbar .navbar-nav .nav-link:hover:after {background:transparent;width:100%;}
.navbar .navbar-nav .nav-link:focus{color:#f4f4f4;}
.navbar .navbar-nav .nav-link:focus:before {background:rgb(255, 255, 255); width:100%; transition:width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));}
.navbar .navbar-nav .nav-link:focus:after {background:transparent;width:100%;}
.navbar .nav-icon img{width:20px; margin-top:-2px; margin-right:5px;}
.navbar .btn.target{width:24px; height:24px;background-image:url(../images/icons/sidebar_toggle.png);background-repeat:no-repeat;background-size:contain;}
.navbar .my_cart{display:flex; gap:10px; margin-left:auto; border:1px solid #D7D7D7; background:#fff; border-radius:50px; padding:10px 20px; position:relative; box-shadow:0 1px 2px 0 rgba(0,0,0,.05);text-decoration: none;}
.navbar .my_cart .my_cart_head{font-size:14px; font-weight:500; background-image:url(../images/cart_icon.png);background-repeat:no-repeat;background-size:contain; padding-left:30px;color: #393939;font-weight: 700;}
.navbar .my_cart .cart-count{background:#FF2900; width:25px; height:25px; border-radius:30px; font-size:14px; font-weight:bold; color:#fff; position:absolute; top:-5px; right:-5px;text-align:center;line-height:24px;}
.navbar-light .navbar-toggler{color:#fff;border-color:#fff; filter: brightness(0) invert(1);}


.banner{padding:20px 0px;}
.banner .rental_banner{background-image:url("../public/images/rental_banner.png"); background-repeat:no-repeat; background-size:cover; width:100%; height:400px; padding:40px; border-radius:10px; box-shadow:0 3px 8px 0 rgba(0,0,0,.1);}
.banner .rental_banner .banner_info{width:30%; color:#fff; margin-top:20px;}
.banner .rental_banner .banner_info h2{color:#fff; font-size:40px; font-weight:bold;}
.banner .rental_banner .banner_info p{font-size:18px; margin:30px 0px;}
.banner .rental_banner .banner_info .cta_btn .btn{padding:10px 30px;}

.page_title{padding-bottom:10px; text-align:center; position:relative; margin-bottom:25px;}
.page_title h2{font-size:34px; font-weight:900; color:#C2285C;}
.page_title h2:after{content:""; background:#C2285C; width:200px; height:5px; position:absolute; bottom:0px; left:50%; margin-left:-100px;}

.category_block{padding:30px 0px;}
.category_block .category_item{height: 100%;}
.category_block .category_item .category_info{width:60%;}
.category_block .category_item .category_info h3{font-size:18px;  text-transform:uppercase; font-weight:bold;}
.category_block .category_item .category_info .price_block{margin:0px;}
.category_block .category_item .category_info .price_block p{font-size:14px; color:#777; margin:0px;}
.category_block .category_item .category_info .price_block .price{color:#C2285C; font-weight:bold; font-size:24px; line-height:16px;}
.category_block .flex_container{display:flex; gap:15px;}
.category_block .category_item .category_image{width:60%;}
.category_block .category_item .category_image img{width:100%;}
.category_block .category_item .category_item_link{background:#fff; border:1px solid #D7D7D7; padding:20px 15px; border-radius:10px; box-shadow:0 1px 2px 0 rgba(0,0,0,.05); transition: all .3s cubic-bezier(0,0,.5,1);will-change:transform; text-decoration:none; display:flex;height: 100%;align-items: center;}
.category_block .category_item .category_item_link:hover{transform:translateZ(0) translateY(0) scale(1.016); box-shadow: 0 3px 8px 0 rgba(0,0,0,.16); border-color:#C2285C;}

.work_with_compcaribe{padding:50px 0px;}

.contact_block{background:#1E458A; border-radius:10px; padding:30px 20px; text-align:center; color:#fff; margin-bottom:30px;}
.contact_block .page_title h2{color:#fff;}
.contact_block .page_title h2:after{background:#fff;}

.popular_products{background:#C2285C; border-radius:10px; padding:30px 20px;}
.popular_products .page_title h2{color:#fff;}
.popular_products .page_title h2:after{background:#fff;}
.popular_products .product_slider{display:flex; gap:20px;}
.popular_products .product_block .product_item{width: 20%;}

.how_it_work{padding:30px 30px; background:#fff; border-radius:10px; text-align:center; margin:30px 0px;}
.how_it_work .colm{display:flex; flex-direction:column; justify-content:center; align-items:center; gap:10px; padding:20px 30px;}
.how_it_work .colm .icon{width:60%;}
.how_it_work .colm .icon img{width:100%; margin: auto;}
.how_it_work .colm  h4{font-size:18px; font-weight:bold; margin-bottom:0px;}


.page_content{padding:30px 0px;}
.cart-block .product-title:hover h6{text-decoration: underline;}
.cart-block .product-title h6 {display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer{background:#232323; padding:30px 0px;}
.footer h4{color:#fff; font-weight:bold; font-size:18px;}
.footer ul{margin:0px; padding:0px;}
.footer ul li{list-style:none; padding:5px 0px;}
.footer ul li a{color:#fff; text-decoration:none;}
.footer ul li a:hover{text-decoration:underline;}
.footer .footer_bottom{text-align:center; color:#fff; border-top:1px solid #4a4a4a; padding-top:20px; margin-top:30px;}


.product_page{position: relative;}
.product_page > .row{width: -webkit-fill-available;}
.product_page .head {background: #f9e9ee;border-radius: 10px;padding: 10px 15px;}
.product_page .filter_sidebar{background:#F9E9EE; border-radius:10px; padding:15px;height: -webkit-fill-available;margin-bottom: 20px;}
.product_page .filter_sidebar .filter_section{background-color: white; padding: 15px; border-radius: 10px;}
.product_page .filter_sidebar .filter_items{background:#fff; border-radius:10px; padding:10px; margin:10px 0px;box-shadow:0 1px 2px 0 rgba(0,0,0,.05);}
.product_page .filter_sidebar .filter_items h4{font-size:16px; font-weight:bold; text-transform:uppercase;}
.product_block{height: 100%;}
.product_block .product_item{display:flex;height: 100%;}
.product_block .product_item .product_img{width:100%;}
.product_block .product_item .product_img img{width:200px; height:200px; object-fit:contain;}
.product_block .product_item h4{font-size:16px;  display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;color:#393939;font-weight: 600;}
.product_block .product_item .price{font-size:26px; color:#C2285C; font-weight:bold;}
.product_block .product_item .cart_btn{margin-top:20px;display:block;}
.product_block .product_item .cart_btn .btn{width:100%;}
.product_block .product_item .product_item_link{background:linear-gradient(180deg,#fff 59.01%,#F9E9EE); border:1px solid #D7D7D7; padding:20px 15px; border-radius:10px; box-shadow:0 1px 2px 0 rgba(0,0,0,.05); transition: all .3s cubic-bezier(0,0,.5,1);will-change:transform; text-decoration:none;}
.product_block .product_item .product_item_link:hover{transform:translateZ(0) translateY(0) scale(1.016); box-shadow: 0 3px 8px 0 rgba(0,0,0,.16);}
.product_block .product_item .exl_vat{font-size:12px; color:#777;}
.product_block .product_item .product_info{height:auto;}
.product_block .product_item .info_flex_container{justify-content: space-between;align-items: center;display: flex;}
.product_block .product_item .info_flex_container .delivery_info {color: #f87439;background: #ffefe5;border-radius: 5px;align-items: center;margin: 10px 0;padding: 3px 10px;font-weight: 700;display: flex;}
.product_block .product_item .product_item_link:hover .cart_btn{animation: wiggleX 0.45s ease-in-out;}
@keyframes wiggleX {
  0% {transform: translateX(0);}
  20% {transform: translateX(-3px);}
  40% {transform: translateX(3px);}
  60% {transform: translateX(-2px);}
  80% {transform: translateX(2px);}
  100% {transform: translateX(0);}
}

.list_view .product_item .product_item_link{width: 100%;}
.list_view .product_item {display: flex;gap: 20px;align-items: center;}
.list_view .product_item .product_item_link{display: flex;gap: 30px;}
.list_view .product_item .product_item_link .product_img{width: auto;}
.list_view .product_img {width: 200px ;}
.list_view .product_info{flex: 1;}
.zoom-image{transition: transform 0.3s ease;}
.large_image:hover .zoom-image {transform: scale(1.2);}


/* **** Shop Pages Css Start */

.shop_view .btn-primary{background:#1E458A !important; border-color:#1E458A !important;}
.shop_view .btn-primary:hover{background:#153978 !important;border-color:#153978 !important;}
.shop_view .btn-secondary{background:#C2285C !important; border-color:#C2285C !important;}
.shop_view .btn-secondary:hover{background:#a91e4d !important;border-color:#a91e4d !important;}
.shop_view .btn-outline-primary{border-color:#1E458A !important; color:#1E458A !important;}
.shop_view .btn-outline-primary:hover{background:#1E458A !important; color:#fff !important; border-color:#1E458A !important;}
.shop_view .navbar{background:#1E458A;}
.shop_view .navbar .my_cart .my_cart_head{background-image:url(../images/cart_icon.png);}
.shop_view .shop_banner{display:flex; gap:15px;}
.shop_view.main_content .page_title h2{color:#1E458A;}
.shop_view.main_content .page_title h2:after{background:#1E458A;}

.shop_view .category_block .category_item{background:#fff; border:1px solid #b9c3e2; padding:20px 15px; border-radius:10px; box-shadow:0 1px 2px 0 rgba(0,0,0,.05); transition: all .3s cubic-bezier(0,0,.5,1);}
.shop_view .category_block .category_item:hover{transform:translateZ(0) translateY(0) scale(1.016); box-shadow: 0 3px 8px 0 rgba(0,0,0,.16); border-color:#1E458A;}
.shop_view .category_block .category_item .category_image{width:60%;}
.shop_view .category_block .category_item .category_info{width:100%;}
.shop_view .category_block .category_item h3{font-size:16px; color:#1E458A; text-decoration:underline;}
.shop_view .category_block .category_item .category_info ul{padding:0px; margin:0px;}
.shop_view .category_block .category_item .category_info ul li{list-style:none;}
.shop_view .category_block .category_item .category_info ul li a{color:#616161; text-decoration:none;}
.shop_view .category_block .category_item .category_info ul li a:hover{color:#1E458A;}
.shop_view .category_block .category_item .category_info ul li a:after{content:"\f105"; font-family:fontawesome;margin-left:5px; font-size:10px;}

.shop_view .popular_products{background:#1E458A;}
.shop_view .popular_products .page_title h2{color:#fff;}
.shop_view .popular_products .page_title h2:after{background:#fff;}
.shop_view .product_block{height: 100%;}
.shop_view .product_block .product_item .shop_price{display:flex; align-items:center; justify-content:space-between;}
.shop_view .product_block .product_item .shop_price .old_price{color:#777; margin-top:-8px; font-size:18px;}
.shop_view .product_block .product_item .shop_price .save_amt{color:#fd4736; font-weight:bold;}
.shop_view .product_block .product_item .brand_icon img{height:35px; margin-top:-10px;}

.shop_view .shop_promotion{padding:30px 0px;}
.shop_view .shop_promotion .flex_container{display:flex; gap:20px;}
.shop_view .shop_promotion .promo_banner{border-radius:10px; overflow:hidden; }
.shop_view .shop_promotion .promo_banner img{width:100%; transition: 0.3s;}
.shop_view .shop_promotion .promo_banner img:hover{transform:scale(1.1);}

.shop_view .shop_bybrand{padding:30px 0px;}
.shop_view .shop_bybrand .brand_logo_link{background:#fff; border:1px solid #b9c3e2; padding:10px 10px; border-radius:10px; box-shadow:0 1px 2px 0 rgba(0,0,0,.05); transition: all .3s cubic-bezier(0,0,.5,1);will-change:transform; text-decoration:none; display:flex;}
.shop_view .shop_bybrand .brand_logo_link:hover{transform:translateZ(0) translateY(0) scale(1.016); box-shadow: 0 3px 8px 0 rgba(0,0,0,.16); border-color:#1E458A;}
.shop_view .shop_bybrand .brand_logo_link img{width:100%;}

.shop_view .product_block .product_item .product_item_link{background:linear-gradient(180deg,#fff 59.01%,#dde5ff); border:1px solid #b9c3e2;width: 100%;}
.shop_view .product_page .product_block .product_grid .product_item .product_item_link:hover{border-color:#1E458A;}
.shop_view .product_page  .head{background:#dde5ff;border-radius: 10px;padding: 10px 15px;margin-bottom: 10px;}
.shop_view .product_page .filter_sidebar{background:#dde5ff;}
.shop_view .product_block .product_item .price{color:#1E458A;}
.shop_view .product_page .head .view_changer .btn.active{background:#1E458A; border-color:#1E458A;}
.shop_view .pagination-container .pagination .active .page-link{background:#1E458A; border-color:#1E458A;}
.shop_view .product_label_sale{right:inherit; left:10px;}
.shop_view .product_page .product_block .product_list .product_item .info_flex_container{flex-direction: row-reverse; justify-content:start;}
.shop_view .product_page .product_block .product_list .product_item .product_item_link{background: linear-gradient(180deg,#fff 80%,#dde5ff);}
.shop_view .page_title h2{color:#1E458A;}
.shop_view .page_title h2::after{background-color:#1E458A;}

.inner_banner{margin-bottom:15px;}
.inner_banner img{width:100%;}
.inner_banner.page_heading{padding:50px 0px; text-align:center; color:#1E458A;font-size:28px;font-weight:bold;background-image:url(../images/banner_bg.jpg); background-repeat:no-repeat;}

.contact_us h3{font-size:24px; font-weight:bold;}
.contact_us .contact_info{background:#fff; font-size:16px; padding:20px; border-radius:10px;}
.contact_us .contact_info .card{padding:25px; align-items:center; text-align:center; box-shadow:0 0 10px #00000010;}
.contact_us .contact_info .card .icon{background:#fff; width:80px; height:80px; border:1px solid #ddd; padding:20px; border-radius:100%; box-shadow:0 0 10px #00000010; margin-bottom:20px; margin-top:-60px;}
.contact_us .contact_info .card .icon img{width:100%;filter:hue-rotate(400deg);}
.contact_us .contact_info .card h5{font-size:18px;}
.contact_us .contact_info .customer_services{background:#F5F5F5; text-align:left;}
.contact_us .contact_info .customer_services .block_row{width:70%; display:flex; gap:10px;justify-content:space-between; padding:5px 10px; border:1px solid #ddd; background:#fff;margin-bottom: 5px;}
.contact_us .contact_info .customer_services .block_label{display:flex; gap:10px; align-items:center;}
.contact_us .contact_info .customer_services .block_label img{width:20px;filter:hue-rotate(400deg);}
.contact_us .contact_info .customer_services .block_hour{font-weight:bold;}
.contact_us .contact_info .customer_services h5 img{filter:hue-rotate(400deg);}
.contact_us .contact_form{background:#fff; padding:16px; border-radius:10px;}
.contact_us .contact_form label{font-weight:bold;}

.aboutus .about_info{width:90%; font-size:16px; text-align:center; margin:0 auto;}
.aboutus .why_chooseus{padding:50px 0px;}
.aboutus .why_chooseus .flex_container{display:flex; gap:15px;}
.aboutus .why_chooseus .info_card{background:#fff;border:1px solid #b9c3e2;padding:0px 25px; border-radius:10px; width:25%; text-align:center; overflow:hidden; box-shadow:0 1px 2px 0 rgba(0,0,0,.05);}
.aboutus .why_chooseus .info_card h5{font-size:18px;}
.aboutus .why_chooseus .info_card .info_image{margin:0px -25px; margin-bottom:25px;}
.aboutus .why_chooseus .info_card .info_image img{width:100%;}

.aboutus .achievements{background:#1E458A; border-radius:10px; margin-top:50px; padding:50px 0px; color:#fff;}
.aboutus .achievements .page_title h2{color:#fff;}
.aboutus .achievements .page_title h2:after{background:#fff;}
.aboutus .achievements .info{max-width:60%; margin:0 auto; text-align:center;}

.faqs .accordion-header .accordion-button{font-weight:bold;}
.content_info .card{padding:15px; font-size:15px;}
.content_info .card h3{font-size:18px; font-weight:bold;}
.order-summary h6{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (min-width: 320px) and (max-width: 767px)
{

  .header .header_top{flex-direction:column; align-items:inherit;}
  .header .header_top .logo img{margin-top:10px;width: 150px;}
  .header .header_top .search_bar{position:absolute;top:120px;right:8px;z-index:1; width:75%;}
  .header .header_top .search_bar .form-control::placeholder{font-size: 14px;padding: 8px 16px;}
  .header .header_top .cta_btn{position:absolute; right:10px;}
  .header .header_top .view_tabs a{display:flex; gap:10px; align-items:center;padding: 12px 24px;}
  .header .header_top .view_tabs a span{margin:0px; display:inherit; clear:inherit;}
  .header .header_top .phone_no span{display:none;}
  .header .header_top .my_account span {display: none;}
  .navbar .my_cart{margin-left: 0px;width: 140px;}
  .checkout .col-md-5{margin-top: 20px;}
  .shop_view .shop_banner .promotion_banner{width: 100%;}
  .shop_view .shop_banner .shop_slider{width: 100%;}
  .popular_products .product_slider{flex-direction: column;}
  .product_block .product_item .product_item_link{width: 100%;}
  .banner .rental_banner .banner_info{width: 100%;margin-top: 0px;}
  .banner .rental_banner .banner_info h2{font-size: 30px;}
  .banner .rental_banner{height: auto;}
  .banner .rental_banner .cta_btn{display: flex; gap: 20px;flex-wrap: wrap;}
  .shop_banner{flex-direction:column;}	
  .shop_banner .shop_slider{width:100%;}
  .shop_banner .promotion_banner{width:100%;}
  .category_block .category_item{width:inherit; align-items:center; text-align:center;}
  .product_details .detail_info_top .product_cta .cta_btn .btn{width: auto;}	
  .aboutus .why_chooseus .flex_container{flex-direction:column;}
  .aboutus .why_chooseus .info_card{width:100%;}
  .product_details .detail_info_top .product_left_col{width:100%;}
  .product_details .detail_info_top .product_cta{width:100%;}
  .recommendations .flex_container{flex-direction:column;}
  .recommendations .product_item{width:100%;}
  .contact_us .contact_info .customer_services .block_row{width:100%;flex-wrap: wrap;}
  .contact_us .contact_info .email-block{margin-top: 40px;}
  .category_block .category_item .category_image img{width: 150px;object-fit: cover;}
  .inner_banner img{height: 200px; object-fit: cover;}
  .product_block .product_item{width: 100%;}
  .product_block .product_item .product_img img{height: 100px; width: 100px;}
  .product_block .product_item h4{font-size: 14px;}
  .product_block .product_item .price{font-size: 14px !important;}
  .product_block .product_item .cart_btn .btn{font-size: 12px;padding: 6px !important;}
  .view_changer{display: none;}
  .item_perpage{visibility: hidden;}
  .mobile-filter{position: absolute; top: 10px;right: 25px;}
  .mobile-filter button{background-color: white; border: none;padding: 8px 16px;font-weight: 600; font-size: 16px;border-radius: 10px;}
  .header{position: relative;}
  .navbar .my_cart{padding: 5px 15px;position: absolute;top: -53px;right: 12px;width: auto;font-size: 20px;color: black;border-radius: 10px;z-index:9999;}
  .navbar .my_cart .my_cart_head{background-image: none;display: none;}
  .mobile-cart-icon{display:block;}
  .page_title h2{font-size: 24px;}
  .cart-block .cart-product{flex-wrap: wrap;}
  .cart-block .cart-product .product-title{flex: auto !important;margin-bottom: 15px;}
  .cart-block .cart-product .text-end{display: flex; align-items: center;gap: 10px;}
  .shop_view .category_block .category_item h3{text-align: left;}
  .shop_view .category_block .category_item .category_info ul{text-align: left;}
  .navbar-nav{margin-top: 20px;}
  .header .header_top .search_dropdown .search_item span {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .search_info br{display: none;}
  .footer h4{font-size: 20px;}
  .footer .footer_col{margin-bottom: 20px;}
  .popular_products .product_block .product_item{width: 100%;}
  .cart-block .product-title h6 {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* 🔥 number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


}

@media screen and (min-width: 769px) and (max-width: 1024px)
{

  .header .header_top .phone_no span{display:none;}
  .header .header_top .my_account span {display: none;}
  .navbar .my_cart{margin-left: 0px;width: 140px;}
  .header .header_top .search_dropdown{width: 400px; right: -100px;}
  .banner .rental_banner .banner_info{width: 70%;}
  .popular_products .product_slider{flex-wrap: wrap;}
  .product_block .product_item{width: 48%;}
  .product_block .product_item .product_item_link{width: 100%;}
  .product_page .product_block .product_item{width: 100%;}
  .item_perpage{display: none !important;}
  .popular_products .product_block .product_item{width: 48%;}

}
@media (max-width: 768px) {
  .filter_sidebar {display: none;}
  .filter_sidebar.show {display: block;background: #fff;padding: 15px;border-radius: 10px;}
}
@media screen and (min-width: 1025px) and (max-width: 1300px){

    .product_block{flex-wrap: wrap;}
    .popular_products .product_item .product_img img{width: 150px; height: 150px;}
    /* .product_block .product_item{width: 22%;} */
    .header .header_top .phone_no span{display: none;}
    .header .header_top .my_account span{display: none;}
    .product_block .product_item .product_img img{width: 150px;height: 150px;}
    .popular_products .product_block .product_item{width: 23%;}
    .banner .rental_banner .banner_info{width: 40%;}
}